*.o
*.png
*.root
!aux/*.root
python/*
!python/*.py
*.pyc
*.vscode
makePlotsOld.cc
__pycache__
makePlots
Boosted*
Resolved*
build/*
.cache/*
CMakeFiles
*.cmake
Makefile
CMakeCache.txt
python/index.html
compile_commands.json
*swp
condorSub*
*__afs*
aux/Run3/*
aux/Run2/*
